.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #2e2c2c;
  background-image: url(https://th.bing.com/th/id/OIP.Ew4JRDv2A5y3iiXmEBj4QwHaEG?w=301&h=180&c=7&o=5&dpr=1.12&pid=1.7);
  opacity: 0.95;
  background-repeat: no-repeat;
  background-size: cover;
}
.container
{
  width:70%;
  margin-left: 15%;
  padding-top:50px ;
  padding-bottom: 20px; 
  color: white;

}
.padd
{
  padding:15px;
}
.search-field
{
  width:65%;
  height:40px;
  font-size:18px;
  border-radius:10px;
  border:1px solid white;
  outline: none;
  background-color: #2e2c2c;
  color:white; 
  text-indent:15px;
}
.btn{
  width: 17%;
  height: 45px;
  background-color: #1072ec;
  margin-left: 15px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.movie
{
  padding:5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.poster
{
  height: 600px;
  width: 33%;
  overflow: hidden;
}
.poster-img
{
  width:100%;
}
.details
{

  width: 66%;
  
}
.padd>p{
  font-size: 20px;
}
.ratings{
  display: flex;
  
}

.ratings>div{
  margin-right: 20px;
  font-size: 18px;
  margin-left: 15px;
}


